<div class="hero">

    {{widget('feature', 'feature', {
        'header': 'profile',
        'strapline': '',
        'defaultBgImg': asset('images/feature-image.jpg'),
        'positionTopPercentage': '0',
        'showBtn': false,
        'buttonText': 'Lorem Ipsum'
    })|raw}}

    {% include "includes/header.twig" %}

    <div class="container-slant">
        <div class="home-flex">

            <div class="home-flex-item">
                {{widget('content', 'hometitle', {
                    content: '<h4>Commodo Nibh</h4>'
                })|raw}}
                {{widget('content', 'homecontent', {
                    content: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit nec eleifend diam mollis eu.</p>'
                })|raw}}
            </div>

            <div class="home-flex-item">
                {{widget('content', 'hometitle2', {
                    content: '<h4>Mauris Blandit</h4>'
                })|raw}}
                {{widget('content', 'homecontent2', {
                    content: '<p>Aenean auctor convallis libero, vitae dignissim lectus lobortis id.</p>'
                })|raw}}
                
            </div>

            <div class="home-flex-item">

                {{widget('profile', 'homesignup', {
                    'profileType':'form'
                })|raw}}
                
            </div>

        </div> 
    </div>

</div>
